abind,1.4-5
askpass,1.1
assertthat,0.2.1
backports,1.1.10
base64enc,0.1-3
BH,1.72.0-3
bit,4.0.4
bit64,4.0.5
bitops,1.0-6
blob,1.2.1
blogdown,1.5
brew,1.0-6
broom,0.7.0
callr,3.4.4
car,3.0-9
carData,3.0-4
caret,6.0-86
caTools,1.18.0
cellranger,1.1.0
chron,2.3-56
cli,2.0.2
clipr,0.7.0
colorspace,1.4-1
commonmark,1.7
conquer,1.0.2
covr,3.5.1
cpp11,0.2.1
crayon,1.3.4
crosstalk,1.1.0.1
curl,4.3
data.table,1.13.0
DBI,1.1.0
dbplyr,1.4.4
desc,1.2.0
devtools,2.3.2
digest,0.6.25
dplyr,1.0.2
DT,0.15
e1071,1.7-3
ellipsis,0.3.1
evaluate,0.14
fansi,0.4.1
farver,2.0.3
forcats,0.5.0
foreach,1.5.0
formatR,1.7
fs,1.5.0
futile.logger,1.4.3
futile.options,1.0.1
generics,0.0.2
ggplot2,3.3.2
gh,1.1.0
git2r,0.27.1
glue,1.4.2
gower,0.2.2
gplots,3.1.0
gsubfn,0.7
gtable,0.3.0
gtools,3.8.2
haven,2.3.1
hexbin,1.28.1
highr,0.8
hms,0.5.3
htmltools,0.5.0
htmlwidgets,1.5.1
httpuv,1.5.4
httr,1.4.2
ini,0.3.1
ipred,0.9-9
isoband,0.2.2
iterators,1.0.12
jsonlite,1.7.1
kernlab,0.9-29
knitr,1.30
labeling,0.3
lambda.r,1.2.4
later,1.1.0.1
lava,1.6.8
lazyeval,0.2.2
lifecycle,0.2.0
lme4,1.1-23
lubridate,1.7.9
magrittr,1.5
maps,3.3.0
maptools,1.0-2
markdown,1.1
MatrixModels,0.4-1
matrixStats,0.57.0
memoise,1.1.0
mime,0.9
minqa,1.2.4
mltools,0.3.5
ModelMetrics,1.2.2.2
modelr,0.1.8
munsell,0.5.0
nloptr,1.2.2.2
numDeriv,2016.8-1.1
openssl,1.4.3
openxlsx,4.2.2
pbkrtest,0.4-8.6
pillar,1.4.6
pkgbuild,1.1.0
pkgconfig,2.0.3
pkgload,1.1.0
plogr,0.2.0
plotly,4.9.2.1
plyr,1.8.6
praise,1.0.0
prettyunits,1.1.1
pROC,1.16.2
processx,3.4.4
prodlim,2019.11.13
progress,1.2.2
promises,1.1.1
proto,1.0.0
ps,1.3.4
purrr,0.3.4
quantreg,5.67
R6,2.4.1
randomForest,4.6-14
rappdirs,0.3.1
rcmdcheck,1.3.3
RColorBrewer,1.1-2
Rcpp,1.0.5
RcppArmadillo,0.9.900.3.0
RcppEigen,0.3.3.7.0
readr,1.3.1
readxl,1.3.1
recipes,0.1.13
rematch,1.0.1
rematch2,2.1.2
remotes,2.2.0
reprex,0.3.0
reshape2,1.4.4
reticulate,1.16
rex,1.2.0
rio,0.5.16
rlang,0.4.7
rmarkdown,2.3
ROCR,1.0-11
roxygen2,7.1.1
rpart.plot,3.0.9
rprojroot,1.3-2
RSQLite,2.2.0
rstudioapi,0.11
rversions,2.0.2
rvest,0.3.6
scales,1.1.1
selectr,0.4-2
servr,0.18
sessioninfo,1.1.1
sp,1.4-2
SparseM,1.78
sqldf,0.4-11
SQUAREM,2020.4
statmod,1.4.34
stringi,1.5.3
stringr,1.4.0
sys,3.4
testthat,2.3.2
tibble,3.0.3
tidyr,1.1.2
tidyselect,1.1.0
tidyverse,1.3.0
timeDate,3043.102
tinytex,0.26
usethis,1.6.3
utf8,1.1.4
vctrs,0.3.4
viridisLite,0.3.0
whisker,0.4
withr,2.3.0
xfun,0.17
xgboost,1.2.0.1
xml2,1.3.2
xopen,1.0.0
yaml,2.2.1
zip,2.1.1
base,3.6.3
boot,1.3-25
class,7.3-17
cluster,2.1.0
codetools,0.2-16
compiler,3.6.3
datasets,3.6.3
foreign,0.8-76
graphics,3.6.3
grDevices,3.6.3
grid,3.6.3
KernSmooth,2.23-17
lattice,0.20-41
MASS,7.3-53
Matrix,1.2-18
methods,3.6.3
mgcv,1.8-33
nlme,3.1-149
nnet,7.3-14
parallel,3.6.3
rpart,4.1-15
spatial,7.3-11
splines,3.6.3
stats,3.6.3
stats4,3.6.3
survival,3.1-12
tcltk,3.6.3
tools,3.6.3
utils,3.6.3
